{% extends "layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
	<p>
		<h2>{{ book.title }}</h2>
		<p>
			<ul>
				<li>Auteur : {{ author.fname }} {{ author.lname }}</li>
				<li>ISBN : {{ book.isbn }}</li>
			</ul>
		</p>
		<p>{{ book.summary }}</p>
	</p>
{% endblock %}
